#container-fluid{
    background-image:  url(../../Assets/bg-image.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.custom-center{
    padding-top: 160px;
}
.custom-height{
    min-height: 45vh;
}