@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#container-fluid {
    background:rgba(255, 253, 253, 0.187) url(../../Assets/bg-image.jpg);
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;

}

.top_gallery_title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 65px;
}

.top_gallery_desc,
.second_gallery_desc {
    font-family: 'Jost', sans-serif;
}

.second_gallery_title,
.gallery_contact_title,
.gallery_contact_num {
    font-family: 'Oswald', sans-serif;
}


.custom-height {
    min-height: 45vh;
}

.custom-image {
    max-width: 100%;
    /* width: 325px; */
    /* height: 330px; */
    cursor: pointer;
    transition: transform 0.3s ease-out;
    border-radius: 10px;
}

.custom-image:hover {
    transform: scale(1.01);

}

.contact-height {
    min-height: 70vh;
}
@media (max-width:768px) {
    .top_gallery_title{
        font-size: 33px;
    }
    .contact-c{
        
        display: flex;
        justify-content: center;
        margin: 3px 0;
        
        
    }
    .gallery_contact_title{
        font-size: 16px;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid gray;
    }
    .gallery_contact_num {
        font-size: 16px;
        margin: 0;
        padding-left: 8px;
        border-bottom: 2px solid gray;
    }
    
}
