.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../Assets/img6.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}



.contact-text {
    font-family: "Shadows Into Light";
    font-style: normal;
    font-size: 65px;
    font-weight: 400;

}


.para {
    font-family: 'jost';
    font-size: 17px;
    font-weight: 400;
}

.contact-det-h {
    font-family: 'Oswald';
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
}
/* .contact-form{
    background:rgba(241, 242, 242, 0.874) url('../../asset/contactUs-imgs/contactform.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
} */
/* .contact-form .input{
    border-bottom: 5px solid black;
} */

@media (max-width:599px) {
    .contact-text{
        font-size: 33px;
    }
    .para{
        font-size: 12px;
    }
    .contact-info{
        height: 80vh;
    }
    
}

